* {
    box-sizing: border-box;
}
header h1,h2{
    font-family: 'Anton', sans-serif;    
}
header .titulazo{
    font-size: 40px;
}
header {
    background-color: #102624;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
}

header h1, h2 {
    text-align: center;
}



header img {
    width: 100%;
    padding-bottom: 10px;
}

.section1 {
    margin-top: 10px;
    border-top: 1px outset;
}

.section2 {
    margin-top: 10px;
    border-top: 1px outset;
}

.section1 img {
    width: 50px;
    vertical-align: middle;
}

.section1 h3 {
    display: inline-block;
}

.section2 div {
    margin-top: 10px;
}

.section2 div div {
    text-align: center;
}

.section2 img {
    width: 80%;

}

.bloque7 {

    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px outset;

    text-align: center;
}

main button {
    width: 100%;

}

.bloque7 img {
    width: 100px;
}

footer {
    background-color: #102624;
    color: white;
    text-align: center;
}

@media screen and (min-width: 768px) {

    header img {
        width: 100%;
    }

    header section {
        display: flex;
        flex-wrap: wrap;
    }

    header div {
        width: 100%;
        margin: 2%;
    }

    header p {
        width: 90%;
    }

    main * {
        margin-left: 1%;
    }

    .section1 {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .section1 div {
        width: 40%;
    }

    .section2 {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .section2 div {
        width: 40%;
    }

    .section2 div div {
        width: 100%;
    }

    .section2 div div img {
        width: 95%;
    }
}

@media screen and (min-width: 992px) {

    header {
        display: flex;
        flex-wrap: wrap;
    }

    header section div {
        width: 50%;
        margin: 2%;
    }

    header section div h1,
    h2 {
        text-align: left;
    }

    header img {
        width: 40%;
    }

    main button {
        width: 100px;
    }

    .section1 {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .section1 div {
        width: 30%;
    }

    .section2 {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .section2 div {
        width: 30%;
    }

    .section2 div div {
        width: 100%;
    }

    .section2 div div img {
        width: 95%;
    }

    .bloque7 {
       
        display: flex;
        flex-wrap: wrap;
        vertical-align: middle;
    }

    .bloque7 div{
        width: 67%;
    }
    .bloque7 img{
    width: 8%;
    
    }
    .bloque7 button{
        width: 100px;
        height: 50px;
    }

}