//Paleta de colores

//color borde tabla
$color-border-table: #000;

//colores botones
$color-error:#F00;
$color-warning:rgb(251, 255, 0);   
$color-accepted:#0F0;
$color-normal:rgb(15, 181, 232);

//colores paras las columnas

    