{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
}
body{
    margin-left: 10%;
    width: 80%;
}

footer {
    background-color:  rgb(56, 4, 241);
    color: rgb(243, 55, 132);
    overflow-y: auto;
}
footer div{
    margin-left: 10%;
    float: left;
    text-align: center;
}
footer address{
    float: left;
}
footer section{
    text-align: center;
    float: left;
}
footer img{
    float: left;
    width: 12%;
}