* {
    box-sizing: border-box;
}
.fondo{
    width: 550px;
    height: 550px;
    background-image: url(/Users/Pedro/Desktop/Lenguaje_de_marcas/AnimacionCss/img/mapa.jpg);
    animation: fondomov .7s linear infinite;
}
@keyframes fondomov {
    0% { background-position:550px } 
    100% { background-position:0 }
  }
.sonic{
    width: 64px;
    height: 72px;
    background-image: url(/Users/Pedro/Desktop/Lenguaje_de_marcas/AnimacionCss/img/sonic.png);
    margin: auto;
    animation: walk .1s steps(4) infinite;
    position: relative;
    top: 350px;
}
@keyframes walk {
    
    0% { background-position:0 }
    
    100% { background-position:-256px }
  }
  
  
img{
    margin-left: 175px;
    width: 200px;
    height: 100px;
   position: absolute;
   
}

img:active {
    animation: .3s linear infinite rotate;
    position: relative;
    transform-origin: 50% 100%;
    position: absolute;
  }
  
  @keyframes rotate {
    from {
      transform: rotate(0deg)
    }
    to {
      transform: rotate(360deg)
    }
  }