* {
    box-sizing: border-box;
}
.container img{
    width: 100px;
}

.container{
    width: 100%;
    margin:10px auto;
}

header{
    text-align: center;
    border-bottom: 1px solid;
} 

.content_wrapper{
display:flex;
flex-wrap: nowrap;
}

main ,article {
    border: 1px solid;  
}

.articles{
    display:flex;
    justify-content: end;
}
footer{
    display:flex;
    
} 

